<?xml version="1.0" encoding="UTF-8"?>
<!-- Do not put anything above the xml line above, not even a blank line. -->

<!--  [BN, 11/8/20] This file was the original Web.config file that was in the root of Sani's website starlite-intl.com.
It was probably created by the company that Sani bought his original version of starlite-intl.com from.
The <rule> below apparently is (more or less) a permenant redirect that takes a url to the same url but prefixed with "https://"
so that the padlock will display in the browser's address field if the site has an SSL certificate. 
-->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0" urlLinePragmas="true" />
    <sessionState cookieless="UseCookies" />
  </system.web>
  <system.webServer>
    <httpErrors errorMode="Detailed" />
    <rewrite>
      <rules>
        <rule name="HTTP to HTTPS redirect" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTPS}" pattern="off" ignoreCase="true" />
          </conditions>
          <action type="Redirect" redirectType="Permanent" url="https://{HTTP_HOST}/{R:1}" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
