vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|24 Mar 2010 04:55:00 -0000
vti_extenderversion:SR|5.0.2.6790
vti_cacheddtm:TX|24 Mar 2010 04:55:00 -0000
vti_filesize:IR|2574
vti_cachedlinkinfo:VX|S|http://www.mitmazel.com/mytests/navbars/suckerfish/suckerfish_blue.png
vti_cachedsvcrellinks:VX|NSHS|http://www.mitmazel.com/mytests/navbars/suckerfish/suckerfish_blue.png
vti_lineageid:SR|{2F24785A-9A7C-43CF-8D7C-8C5A52FF0AE4}
vti_backlinkinfo:VX|
