BODY
{
    FONT-SIZE: 10pt;
    FONT-FAMILY: Verdana, Arial, sans-serif
}
A:active
{
    BACKGROUND-COLOR: mediumslateblue
}
A:hover
{
    COLOR: black;
    BACKGROUND-COLOR: silver
}
INPUT
{
    FONT-FAMILY: Arial, sans-serif
}
SELECT
{
    FONT-FAMILY: Arial, sans-serif
}
A:link
{
    COLOR: black
}
A:visited
{
    COLOR: black
}
MYTAG
{
    COLOR: red
}
.AdminClass
{
    FONT-SIZE: 8pt;
    COLOR: black
}
.AdminClass B
{
    FONT-WEIGHT: bolder;
    COLOR: blue;
    BACKGROUND-COLOR: transparent
}
